body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

nav {
  background: #8B0000;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.form-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background: #D84315;
  color: white;
  border: none;
  cursor: pointer;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}
/* ===== MONUMENT SECTION ===== */

.section {
    text-align: center;
    padding: 60px 20px;
    background: #f5f1e8;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #8B0000;
}

/* Cards Layout */
.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

/* Individual Card */
.card {
    width: 260px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

/* Card Images */
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}